<div  style="position: fixed;width: 100%;">
    <div style="font-size: 20px; padding: 12px;color: white;
    background-color: darkslateblue;height: 48px;padding-left: 32px;">
      Organisation Structure
    </div>
  <div  style="margin: 8px;font-size: 26px; height: 32px;font-weight: bolder;
  padding: 8px;color: lightslategray;margin-left: 32px;">PROJECTS
  <input type="text" style="height: 28px;width: 500px;margin-left:200px;font-size: 14px;outline:none" 
  placeholder=" Search by Project Name" [(ngModel)]="searchFilter" >
  </div>
  </div>
  <div  style="padding-top: 88px;width:100%;padding-left:15px;padding-right :15px;">
      <div class="row" style="margin: 16px 8px 8px 8px; width: 100%;overflow-y: scroll;height: 500px;">
        <div class="col-xs-3" style="padding: 16px;" 
        *ngFor="let project of projects  | filter : searchFilter : 'name';">
        <mat-card class="example-card">
            <mat-card-header style="padding: 8px 16px;">
            <img mat-card-sm-image src="../assets/WAP.jpg" [alt]="project.name  | slice:0:5"  >
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-subtitle>Total Modules : {{getModuleCount(project.name)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div style="height: 100px;">
                    <div>
                      <span class="badge" style="width:100px;font-size:90%;margin-top:8px">Modules</span>
                      <span class="badge" style="width:100px;font-size:90%;margin-top:8px">Count</span>
                    </div>
                    <div *ngFor="let module of modules">
                      <span class="module"style="width:100px;font-size:95%"*ngIf="module.projectName===project.name">{{module.moduleName}}</span>
                      <span class="module" style="width:100px;font-size:95%"*ngIf="module.projectName===project.name">{{module.moduleCount}}</span>
                    </div>
                  </div>
            </mat-card-content>
            <mat-card-footer class="card-footer">Total Resource Count :
                {{project.ResourceCount}}</mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>

