<div class="panel-group">
    <div *ngIf="qualifications.length == 0 && !isAuthenticated">
        <p>No details found. Authenticate to add details.</p>
    </div>
    <div style="height: 40px;"  *ngIf="isAuthenticated && !loading">
        <button  class="btn btn-primary pull-left"
        style="margin-left: 8px;cursor: pointer;"(click)="addQualification()">Add</button>
        <button class="btn btn-danger pull-left"  
        style="margin-left: 8px;cursor: pointer;" [disabled]="qualifications.length == 0"
         (click)="deleteQualification()">Delete</button>
        <div *ngIf="editMode" class="glyphicon glyphicon-remove pull-right"  (click)="onCancel()"
        style="cursor: pointer;padding-left: 8px; padding-right: 16px;margin-top: 8px;" data-toggle="tooltip" title="Cancel Changes"></div>
        <div *ngIf="editMode" class="glyphicon glyphicon-floppy-disk pull-right" (click)="onSave()"
        style="cursor: pointer;padding-left: 8px;margin-top: 8px;" data-toggle="tooltip" title="Save"></div>
        <div *ngIf="!editMode && qualifications.length != 0" class="glyphicon glyphicon-pencil pull-right"  (click)="editMode=true"
        style="cursor: pointer;margin-top: 8px;" data-toggle="tooltip" title="Edit"></div>
    </div>
    <div *ngIf="qualifications.length == 0 && isAuthenticated && !loading" style="margin-left: 8px;">
        <p>Click Add to get started.</p>
    </div>
    <div *ngIf="loading" style="text-align: center;">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="error">
        <app-confirmation [message]="error" (ok)="onOk()" (close)="error = null"></app-confirmation>
    </div>
    <div *ngIf="!loading" >
        <div class="panel panel-default" style="cursor: pointer;"  
        *ngFor="let qualification of qualifications">
            <div class="panel-heading" [style]=" editMode ? 'height: 48px;' : 'height: 40px;'">
                <strong *ngIf="!editMode">{{qualification.degree}}</strong>
                <input *ngIf="editMode" style="width: 500px;" type="text"
                [(ngModel)]="qualification.degree"  (ngModelChange)="changesMade=true"/>
                <span (click)="collapse(reference)" data-toggle="tooltip" 
                class="glyphicon glyphicon-resize-full pull-right"
                title="Expand" *ngIf="reference.className=='panel-body collapse'">
                </span>
                <span (click)="collapse(reference)" data-toggle="tooltip" 
                class="glyphicon glyphicon-resize-small pull-right"
                title="Contract" *ngIf="reference.className =='panel-body collapse in'">
                </span>
            </div>
                <div class="panel-body collapse in" style="cursor: default" #reference>
                    <div class="row">
                        <div class="col-xs-2" 
                        [style]="editMode ? 'margin-top: 8px;' : 'margin-top: 0px;'">
                          Institution
                        </div>
                        <div class="col-xs-10" *ngIf="!editMode">
                            {{qualification.institution}}
                        </div>
                        <div class="col-xs-10" *ngIf="editMode">
                        <input type="text" 
                        style ="width: 500px;margin-top: 8px;"
                        (ngModelChange)="changesMade=true" [(ngModel)]="qualification.institution">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" 
                        [style]="editMode ? 'margin-top: 8px;' : 'margin-top: 0px;'">
                        Passed out year
                        </div>
                        <div class="col-xs-10" *ngIf="!editMode">
                            {{qualification.batch}}
                        </div>
                        <div class="col-xs-10" *ngIf="editMode">
                            <input type="text" 
                            style ="width: 500px;margin-top: 8px;" 
                            (ngModelChange)="changesMade=true" [(ngModel)]="qualification.batch">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" 
                        [style]="editMode ? 'margin-top: 8px;' : 'margin-top: 0px;'">
                        Percentage
                        </div>
                        <div class="col-xs-10" *ngIf="!editMode">
                            {{qualification.percentage}}
                        </div>
                        <div class="col-xs-10" *ngIf="editMode">
                            <input type="text" 
                            style ="width: 500px;margin-top: 8px;" 
                            (ngModelChange)="changesMade=true" [(ngModel)]="qualification.percentage">
                        </div>
                    </div>
                </div>
        </div>  
    </div>
</div>