<div style="z-index: 1;position:fixed;height:32px;width:100%;top:48px">
    <span class="material-icons" (click)="exportAsXLSX()" style="float:right;padding:8px;margin-right:8px">
        save_alt
      </span>
</div>
<div id="wrapper">
    <div id="container" >
        <ol class="organizational-chart">
            <li>
                <div>
                    <h4>PMO</h4>
                    <span>[300]</span>
                </div>
                <ol>
                    <li>
                        <div>
                            <h4>CL1</h4>
                            <span>[100]</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>CL2</h4>
                            <span>[100]</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4>CL3</h4> 
                            <span>[100]</span>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>

    </div>
</div>