<div class="alert-box" *ngIf="!loading">
 <p style="display: flex;justify-content: center;">
  <strong>One time login</strong>
</p> 
  <div style="display: flex;justify-content: center;"> 
    <button 
    data-onsuccess="onSignIn" mat-flat-button id="googleBtn" color="primary">
      <img src="../../assets/google.png" 
      style="border-radius: 50%;display: inline-block;height: 32px;width: 32px;margin-right: 8px;">
      Login with Google
    </button>
</div>
</div>
<div style="display: flex;justify-content: center;">
  <app-spinner *ngIf="loading"></app-spinner>
</div>

