<div style="min-width: 280px;background: rgba(0,0,0,0.10);height: 100vh;">
    <!-- <div class="backdrop1" ></div> -->
    <div class="alert-box1"  *ngIf="!loading">
        <div>
            <mat-card class="example-card1">
                <mat-card-header style="width: inherit;display: block;">
                    <mat-card-title 
                    style="margin-left: -16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
                    width: inherit;"
                    [matTooltip]="poem.Header">{{poem.Header}}</mat-card-title>
                    <mat-card-subtitle style="margin-left: -8px;">{{poem.Date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <pre style="overflow-wrap: break-word;height: 120px;
                    overflow: auto;white-space: pre-line;
                    font-family: 'ROBOTO';">
                        {{poem.Content}}
                    </pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-fab [matBadge]="poem.likeCount" matBadgeColor="primary" matBadgeSize="medium"
                        [color]="!poem.liked?'basic':'primary'" 
                        (click)="toggleBadgeVisibility(poem.Id,!poem.liked)">
                        <mat-icon>favorite</mat-icon>
                        </button>
                    <span style="width: 8px;display: inline-flex;"></span>
                    <button mat-fab [matMenuTriggerFor]="menu" color="primary" (click)=getUrl(poem.Id)>
                        <mat-icon>share</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <share-button [url]="url" button="whatsapp"></share-button>
                            <share-button [url]="url" button="facebook"></share-button>
                            <share-button [url]="url" button="twitter"></share-button>
                            <share-button [url]="url" button="linkedin"></share-button>
                            <share-button [url]="url" button="email"></share-button>
                            <share-button [url]="url" button="messenger"></share-button>
                            <share-button [url]="url" button="telegram"></share-button>
                            <share-button [url]="url" button="sms"></share-button>
                        </mat-menu>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="alert-box-actions1">
            <button mat-button color="primary" (click)="onClose()" style="float: left;">HOME</button>
            <button mat-button color="primary" (click)="onPrev()" [disabled]="!prevEnabled">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-button color="primary" (click)="onNext()" [disabled]="!nextEnabled">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
    </div>
    <app-spinner  *ngIf="loading" style="display: flex;justify-content: center;"></app-spinner>
</div>
